
:root{
    --green: #01796D;
    --light-green:#76B2AB;
    --orange: #E56D4C;
    --white:#fff;
    --light-white:#aaa;
    --black:#3d3d3d;
    --ligh-black:#4b4b4b;
    --pink: #FFA0DC;
    --cream: #EFDCD7;
    --yellow: #FFC930;
    --unggu: #9E76DD;
    --dark-yellow: #B08A39;
    --dark-blue: #68B3D7;
    --blue: #61CCFF;
    --orange: #FF4F32;
    --dark-orange: #BC412C;
    --abu: #dad7bd;
    --dark-abu: #8b8977;
}

/* UMUM */
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
    text-transform: capitalize;
}

::selection{
    background-color: var(--cream);
    color: var(--dark-yellow);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: var(--dark-yellow);
    border-radius: 5rem;
}

body{
    background-color:var(--abu);
}

section{
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background-color: var(--dark-abu);
    cursor: pointer;
    color: var(--abu);
    font-size: 1.7rem;
    padding: 1rem 3rem;
}

.btn:hover{
    background-color: var(--orange);
    color: var(--black);
}

.heading{
    margin-bottom: 2.5rem;
    text-align: center;
    font-size: 4rem;
    color: var(--white);
    text-transform: uppercase;
}

.heading span{
    color: var(--dark-orange);
    text-transform: uppercase;
}

.header{
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header .flex{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .flex .logo{
    font-size: 2.5rem;
    color: var(--dark-orange);   
}

.header .flex .navbar a{
    margin-left: 2.5rem;
    color: var(--black);
    font-size: 2rem;
}

.header .flex .navbar a:hover{
    color: var(--dark-orange);
}

.btn-login{
    font-size: 1.5rem;
    display: inline-block;
    cursor: pointer;
    background-color: var(--dark-orange);
    border-radius: 5rem;
    margin-top: 1rem;
    padding: 0.5rem 3rem;
    color: var(--light-white);
}
.btn-login:hover{
    background-color: var(--black);
    color: var(--white);
}
#menu-btn{
    cursor: pointer;
    color: var(--dark-orange);
    font-size: 2.5rem;
    display: none;
}

.home{
    margin-top: 6rem;
}

.home .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 1.5rem;
}

.home .row .content{
    flex: 1 1 40rem;
    text-align: center;
}

.home .row .image{
    flex: 1 1 40rem;
}
.home .row .image img{
    width: 100%;
}

.home .row .content h3{
    margin-bottom: 1rem;
    font-size: 6rem;
    color: var(--white);
    line-height: 1;
}

.home .row .content h4{
    margin-bottom: 1rem;
    font-size: 2rem;
    color: var(--black);
    line-height: 1;
}

.home .row .content h3 span{
    color: var(--dark-orange);
}

/* Couter Section */

.count .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.5rem;
    align-items: flex-start;
}

.count .box-container .box{
    background-color: var(--dark-abu);
    border-radius: .5rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.count .box-container .box i{
    font-size: 5rem;
    color: var(--abu);
}

.count .box-container .box:hover{
    box-shadow: 0 0 10px var(--white);
}

.count .box-container .box .content h3{
    font-size: 2rem;
    color: var(--black);
    margin-bottom: .5rem;
}

.count .box-container .box .content p{
    font-size: 1.6rem;
    color: var(--abu);
}

/* About */

.about .row{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.about .row .image{
    flex: 1 1 40rem;
}

.about .row .image img{
    width: 100%;
}

.about .row .content{
    text-align: left;
    flex: 1 1 40rem;
}

.about .row .content h3{
    font-size: 3rem;
    color: var(--black);
}

.about .row .content p{
    padding: 1rem 0;
    line-height: 2;
    font-size: 1.6rem;
    color: var(--ligh-black);
}

.courses .slide{
    background-color: var(--dark-abu);
    border-radius: .5rem;
    text-align: center;
    padding: .5rem;
    margin-bottom: 4rem;
}

.courses .slide img{
    height: 25rem;
    width: 100%;
}

.courses .slide h3{
    margin: 1.5rem 0;
    font-size: 2rem;
    color: var(--white);
}

.hero-btn1{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--abu);
    height: 30px;
    width: 100px;
    background-color: var(--dark-abu);
    cursor: pointer;
    color: var(--abu);
    font-size: 1.6rem;
}

.hero-btn1:hover{
    background-color: var(--abu);
    color: var(--black);
}

.courses .slide p{
    line-height: 2;
    font-size: 1.6rem;
    color: var(--abu);
}

.swiper-pagination-bullet{
    background-color: var(--black);
} 

.swiper-pagination-bullet-active{
    background-color: var(--dark-orange);

}

.teachers .slide{
    position: relative;
    overflow: hidden;
    margin-bottom: 4rem;
}

.teachers .slide img{
    height: 55rem;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.teachers .slide h3{
    margin-top: 1.5rem;
    font-size: 2rem;
    text-align: center;
    color: var(--black);
}

.teachers .slide h4{
    margin-top: 1rem;
    font-size: 1rem;
    text-align: center;
    color: var(--black);
    line-height: 1;
}

.teachers .slide .share{
    position: absolute;
    top: 1rem;
    left: -10rem;
}

.teachers .slide:hover .share{
    left: 2rem;
}

.teachers .slide .share a{
    display: block;
    margin-top: 1rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background-color: var(--abu);
    color: var(--black);
    text-align: center;
    font-size: 2rem;
}

.teachers .slide .share a:hover{
    background-color: var(--dark-orange);
    color: var(--black);
}

.footer{
     background-color: var(--dark-abu);  /* options kaya gausah di pake */
     text-align: center;
}

.footer .share a{
    margin: 0 .3rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: 50%;
    font-size: 2rem;
    color: var(--abu);
    background-color: var(--black);
}

.footer .share a:hover{
    background-color: var(--dark-orange);
}

.footer .credit{
    margin-top: 2.5rem;
    padding-top: 2.5rem;
    padding: 1.5rem;
    border-top: .1rem solid var(--cream);
    font-size: 1.5rem;
    color: var(--cream);
}

.footer .credit span{
    color: var(--dark-orange);
}

/* media queries */

@media (max-width:991px){
    html{
        font-size: 55%;
    }
}


@media (max-width:768px){
    #menu-btn{
        display: inline-block;
    }

    #menu-btn.fa-times{
        transform: rotate(180deg);
    }

    .header .flex .navbar{
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        border-top: .1rem solid var(--ligh-black);
        border-bottom: .1rem solid var(--ligh-black);
        background-color: var(--dark-orange);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .flex .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .flex .navbar a{
        display: block;
        margin: 2rem;
        color: var(--cream);
    }
   

    .home .row .content h3{
        font-size: 5rem;
    }
}

@media (max-width:450px){
    html{
        font-size: 50%;
    }

    .home .row .content h3{
        font-size: 5rem;
    }

    .heading{
        font-size: 3rem;
    }
}

/* page about */
.video-intro{
    text-align: center;
}

video{
    width: 720px;
    height: 480px;
    border: 4px solid var(--dark-orange);
}

.content-intro{
    text-align: center;
    flex: 1 1 40rem;
}
 .content-intro h3{
    font-size: 3rem;
    color: var(--black);
 }

.content-intro p{
    padding: 1rem 0;
    line-height: 2;
    font-size: 1.6rem;
    color: var(--ligh-black);
}

button{
    padding: 1rem 2rem;
    border: 1px solid var(--cream);
    background-color: var(--ligh-black);
    border-radius: 2rem;
    color: var(--cream);
    font-size: 1.5rem;
}

button:hover{
    background-color: var(--dark-orange);
    border-color: var(--black);
}

h6{
    color: var(--black);
    text-align: left;
    font-size: 3rem;
}